doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/slack-poll.css')
  body
    div.wrapper
      div.poll-question #{pollQuestion}
      div.poll-answer-grid
        div.poll-answer-box
          div.poll-answer-box-answer Answer One
          div.poll-answer-box-result 10%
        div.poll-answer-box
          div.poll-answer-box-answer Answer Two
          div.poll-answer-box-result 12%
        div.poll-answer-box
          div.poll-answer-box-answer Answer Three
          div.poll-answer-box-result 50%
        div.poll-answer-box
          div.poll-answer-box-answer Answer Four that is long
          div.poll-answer-box-result 40%
        div.poll-answer-box
          div.poll-answer-box-answer Answer Five
          div.poll-answer-box-result 50%


    //header
    //  h1 My Site
    //.container
    //  .main-content
    //    block content
    //  .sidebar
    //    block sidebar
    //footer
    //  p Running on node with Express, Jade and Stylus

